body {
    font-family: verdana, tahoma;
    font-size:large;
    background:rgba(0,128,128, 0.9);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: left;
    color: black;
}

h3 {
    text-align: left;
    color: black;
}

table {
    font-family: arial, verdana, tahoma;
    font-size: medium;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #000;
    padding: 8px;
    line-height: 25px;
    }

td {
    text-align: left;
    }

th {
    text-align: center
    }

tr:nth-child(even) {
    background-color:aliceblue;
    }

tr:nth-child(odd) {
    background-color:lavender;
    }

td:nth-child(1) {
    color: black;
    font-weight: bold;
    }