body {
    font-family: verdana, tahoma;
    font-size: large;
    background:rgba(0,128,128, 0.9);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

h1 {
    text-align: center;
    color: oldlace;
}

h3 {
    color: orangered;
}

.title1 {
    margin-top: 50px;
    text-align: center; 
    font-family: verdana, tahoma;
    font-size:xx-large;
    font-weight: bolder;
    color:orange;
}

.description1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: verdana, tahoma;
    font-size:larger;
    font-weight: bolder;
    color:black;
}

.title2 {
    margin-top: 50px;
    text-align: center; 
    font-family: verdana, tahoma;
    font-size:xx-large;
    font-weight: bolder;
    color:orange;
}

.description2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: verdana, tahoma;
    font-size:larger;
    font-weight: bolder;
    color:black;
}

.title3 {
    margin-top: 50px;
    text-align: center; 
    font-family: verdana, tahoma;
    font-size:xx-large;
    font-weight: bolder;
    color:orange;
}

.description3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: verdana, tahoma;
    font-size:larger;
    font-weight: bolder;
    color:black;
}

.title4 {
    margin-top: 50px;
    text-align: center; 
    font-family: verdana, tahoma;
    font-size:xx-large;
    font-weight: bolder;
    color:orange;
}

.description4 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: verdana, tahoma;
    font-size:larger;
    font-weight: bolder;
    color:black;
}